.container {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.close {
    align-self: center;
}

button {
    padding: 16px;
}